/*saved (old) styles*/
/*border: 2px solid #1A1A1A;*/
html {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    background-color: #FFFFFF;
    color: #1A1A1A;
    margin: 0px;
}
h1 {
    font-family: menco,sans-serif;
    font-weight: 500;
    font-style: normal;
}
h2 {
    font-family: menco,sans-serif;
    font-weight: 500;
    font-style: normal;
}
h3 {
    font-family: menco,sans-serif;
    font-weight: 500;
    font-style: normal;
}
p {
    font-family: menco,sans-serif;
    font-weight: 500;
    font-style: normal;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #FFD587;
    /*border-top: 2px solid #1A1A1A;*/
}
/*navigation*/
header {
    margin-bottom: 20px;
    background-color: #B2BB8A;
    /*border-bottom: 2px solid #1A1A1A;*/
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
}
nav {
    float: right;
}
.nav-item {
    width: 80px;
    height: 50px;
    background-color: #B2BB8A;
    font-family: menco,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    border: 0px;
    border-radius: 50%;
    margin-left: 10px;
    /*border: 2px solid #1A1A1A;*/
}
.nav-item:hover {
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
}
/*logo*/
.logo {
    width: 50px;
    height: 50px;
}
/*home page content*/
.para {
    /*background-color: #BED3D6;
    border-top: 2px solid #1A1A1A;
    border-bottom: 2px solid #1A1A1A;*/
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
}
/*work on homepage*/
.work-section-title {
    background-color: #BED3D6;
    border-top: 2px solid #1A1A1A;
    border-bottom: 2px solid #1A1A1A;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    text-align: center;
}
.work-section {
    margin-top: 50px;
    margin-bottom: 50px;
}
.work-item {
    width: 100%;
    text-align: center;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.mockup-1 {
    width: 30%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
    /*border: 2px solid #1A1A1A;*/
}
.work-para {
    width: 50%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    padding: 40px;
    margin: 20px;
    text-align: left;
}
/* work page content */
.work-page-title {
    background-color: #BED3D6;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
/*contact page content*/
.contact-item-1 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    text-decoration: none;
}